.dishSearchCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
}
.btnBills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ModalCont {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 12px ;
  }

.headerCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
.form{
    height: 90vh;
    overflow-y: scroll;
}
.bodyCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .ant-form-item-control-input-content{
        .ant-input{
            max-width: 100%
        }
    }
}
.orderCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .dishCont {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        margin-bottom: 2vh;
              
    }

}


.orderItems{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

