.dishSearchCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .dishSearch {
        width: 30%;
        .ant-input {
            border-radius: 25px;
            width: 100%;
        }
    }
}

// Thêm nhân viên

.AddCont {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentAdd {
    background-color: #fff;
    border-radius: 12px;
}
.TitleAdd {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4%;
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-bottom: 4%;
}
.ContAdd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.positionCheckAdd {
    display: flex;
    justify-content: space-between;
}
.BtnAdd {
    display: flex;
    justify-content: space-around;
}

// Thông tin nhân viên
.Info {
    width: 60%;
    display: flex;
    flex-direction: column;

    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentInfo {
    background-color: #fff;
    border-radius: 12px;
}
.TitleInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.ContInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NameInfo {
    padding-bottom: 3%;
}  
.AgeInfo {
    padding-bottom: 3%;
}
.identityCardInfo {
    padding-bottom: 3%;
}
.IDInfo {
    padding-bottom: 3%;
}
.EmailInfo {
    padding-bottom: 3%;
}
.PhoneInfo {
    padding-bottom: 3%;
}
.PassInfo {
    padding-bottom: 3%;
}
.AddressInfo {
    padding-bottom: 3%;
}
.StatusInfo {
    padding-bottom: 3%;
}
.PositionInfo {
    padding-bottom: 3%;
}
.positionCheckInfo {
    display: flex;
    justify-content: space-between;
}
.BtnInfo {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}


// Sửa thông tin nhân viên
.Edit {
    width: 60%;
    display: flex;
    flex-direction: column;

    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentEdit {
    background-color: #fff;
    border-radius: 12px;
}
.TitleEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.ContEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NameEdit {
    padding-bottom: 3%;
}  
.AgeEdit {
    padding-bottom: 3%;
}
.identityCardEdit {
    padding-bottom: 3%;
}
.IDEdit {
    padding-bottom: 3%;
}
.EmailEdit {
    padding-bottom: 3%;
}
.PhoneEdit {
    padding-bottom: 3%;
}
.PassEdit {
    padding-bottom: 3%;
}
.AddressEdit {
    padding-bottom: 3%;
}
.StatusEdit {
    padding-bottom: 3%;
}
.PositionEdit {
    padding-bottom: 3%;
}
.positionCheckEdit {
    display: flex;
    justify-content: space-between;
}
.BtnEdit {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}