.dishSearchCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
}
.ModalCont {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px ;
  }
.headerCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 3%;
}
.formCategory{
    height: 90vh; 
}
.bodyCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    overflow-x:hidden;
}
.BtnCategory {
    padding-top: 2vh;

    display: flex;
    justify-content: space-evenly;
}
.avatarCont{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 4%;
    .ant-upload-picture-card-wrapper{
        width: 100%;
        display:flex;
            justify-content: center;
        align-items: center; 
        .ant-upload-list-picture-card-container{
            // width: 63%;
            // height: 63%;
            width: 320px;
            height: 23vh;
        }
        .ant-upload-select-picture-card{
            width: 98%;
            height: 150%;
        }
    }
}
.ant-input, .ant-input-affix-wrapper{
    max-width: 360px;
}
.ant-form-item-explain-error{
    max-width: 360px;
}
.css-yap398 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
     0px 24px 38px 3px rgb(0 0 0 / 14%),
      0px 9px 46px 8px rgb(0 0 0 / 12%);
    border-radius: 16px;
    z-index: 1;
    margin-top: 24px;
    padding: 32px;
    width: 70%;
    height: 90vh;
}
