.dishSearchCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .dishSearch {
        width: 30%;
        .ant-input {
            border-radius: 25px;
            width: 100%;
        }
    }
}
.ModalCont {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px ;
  }
.headerCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 3%;
}
.form{
    height: 90vh;
    overflow-y: scroll;
}
.dishCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    overflow-x:hidden;
    .rightSectionCont{
        width:38%;
display: flex;
flex-direction: column;
margin-right: 7%;

    }
    .leftSectionCont{
        margin-left: 4.2%;
    width: 40%;
    display: flex;
    flex-direction: column;
    
    }
}
.btnDish {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
}
.avatarDish{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0% !important;
    .ant-upload-picture-card-wrapper{
        width: 100%;
        display:flex;
            justify-content: center;
        align-items: center; 
        .ant-upload-list-picture-card-container{
            // width: 63%;
            // height: 63%;
            width: 356px;
            height: 23vh;
        }
        .ant-upload-select-picture-card{
            width: 94.5%;
            height: 150%;
        }
    }
}
.ant-input, .ant-input-affix-wrapper{
    max-width: 360px;
}
.ant-form-item-explain-error{
    max-width: 360px;
}
.ant-select-focused{
    z-index: 100 !important;
}
.ant-select-item-option{
    z-index: 300 !important;

}
.dishSwitchCont .ant-switch {
    width: 70px;
}
.dishSwitchCont .ant-switch-checked{
    background-color: #4CACBA !important;
}
