.dishSearchCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .dishSearch {
        width: 30%;
        .ant-input {
            border-radius: 25px;
            width: 100%;
        }
    }
}