.dishSearchCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .dishSearch {
        width: 30%;
        .ant-input {
            border-radius: 25px;
            width: 100%;
        }
    }
}

// Thêm nhân viên

.ModalCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px ;
  }

.headerCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 3%;
}
.bodyCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.still {
    background-color: #4BB984;
    border-radius: 12px;
    margin-right: 2%;
}
.temporary {
    background-color: #FFA726;
    border-radius: 12px;
    margin-right: 2%;
}
.vacation {
    background-color: #B2431E;
    border-radius: 12px;
}
.positionCheckAdd {
    display: flex;
    justify-content: space-between;
}
.BtnAdd {
    display: flex;
    justify-content: space-around;
}

// Thông tin nhân viên
.Info {
    width: 60%;
    display: flex;
    flex-direction: column;

    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentInfo {
    background-color: #fff;
    border-radius: 12px;
}
.TitleInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.ContInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ItemCont {
    padding-bottom: 3%;
}  


.positionCheckInfo {
    display: flex;
    justify-content: space-between;
}
.BtnInfo {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}


// Sửa thông tin nhân viên
.Edit {
    width: 60%;
    display: flex;
    flex-direction: column;

    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentEdit {
    background-color: #fff;
    border-radius: 12px;
}
.TitleEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.ContEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NameEdit {
    padding-bottom: 3%;
}  
.AgeEdit {
    padding-bottom: 3%;
}
.identityCardEdit {
    padding-bottom: 3%;
}
.IDEdit {
    padding-bottom: 3%;
}
.EmailEdit {
    padding-bottom: 3%;
}
.PhoneEdit {
    padding-bottom: 3%;
}
.PassEdit {
    padding-bottom: 3%;
}
.AddressEdit {
    padding-bottom: 3%;
}
.StatusEdit {
    padding-bottom: 3%;
}
.PositionEdit {
    padding-bottom: 3%;
}
.positionCheckEdit {
    display: flex;
    justify-content: space-between;
}
.BtnEdit {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}