.dishSearchCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .dishSearch {
        width: 30%;
        .ant-input {
            border-radius: 25px;
            width: 100%;
        }
    }
}

// Thêm nhân viên

.employeesAdd {
    width: 60%;
    display: flex;
    flex-direction: column;

    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentAdd {
    background-color: #fff;
    border-radius: 12px;
}
.employeesTitleAdd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.employeesContAdd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.employeesNameAdd {
    padding-bottom: 3%;
}  
.employeesAgeAdd {
    padding-bottom: 3%;
}
.identityCardAdd {
    padding-bottom: 3%;
}
.employeesIDAdd {
    padding-bottom: 3%;
}
.employeesEmailAdd {
    padding-bottom: 3%;
}
.employeesPhoneAdd {
    padding-bottom: 3%;
}
.employeesPassAdd {
    padding-bottom: 3%;
}
.employeesAddressAdd {
    padding-bottom: 3%;
}
.employeesStatusAdd {
    padding-bottom: 3%;
}
.employeesPositionAdd {
    padding-bottom: 3%;
}
.positionCheckAdd {
    display: flex;
    justify-content: space-between;
}
.employeesBtnAdd {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}

// Thông tin nhân viên
.employeesInfo {
    width: 60%;
    display: flex;
    flex-direction: column;

    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentInfo {
    background-color: #fff;
    border-radius: 12px;
}
.employeesTitleInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.employeesContInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.employeesNameInfo {
    padding-bottom: 3%;
}  
.employeesAgeInfo {
    padding-bottom: 3%;
}
.identityCardInfo {
    padding-bottom: 3%;
}
.employeesIDInfo {
    padding-bottom: 3%;
}
.employeesEmailInfo {
    padding-bottom: 3%;
}
.employeesPhoneInfo {
    padding-bottom: 3%;
}
.employeesPassInfo {
    padding-bottom: 3%;
}
.employeesAddressInfo {
    padding-bottom: 3%;
}
.employeesStatusInfo {
    padding-bottom: 3%;
}
.employeesPositionInfo {
    padding-bottom: 3%;
}
.positionCheckInfo {
    display: flex;
    justify-content: space-between;
}
.employeesBtnInfo {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}


// Sửa thông tin nhân viên
.employeesEdit {
    width: 60%;
    display: flex;
    flex-direction: column;

    border-radius: 12px ;
    padding: 0.5%;
  }
.totalContentEdit {
    background-color: #fff;
    border-radius: 12px;
}
.employeesTitleEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.employeesContEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.employeesNameEdit {
    padding-bottom: 3%;
}  
.employeesAgeEdit {
    padding-bottom: 3%;
}
.identityCardEdit {
    padding-bottom: 3%;
}
.employeesIDEdit {
    padding-bottom: 3%;
}
.employeesEmailEdit {
    padding-bottom: 3%;
}
.employeesPhoneEdit {
    padding-bottom: 3%;
}
.employeesPassEdit {
    padding-bottom: 3%;
}
.employeesAddressEdit {
    padding-bottom: 3%;
}
.employeesStatusEdit {
    padding-bottom: 3%;
}
.employeesPositionEdit {
    padding-bottom: 3%;
}
.positionCheckEdit {
    display: flex;
    justify-content: space-between;
}
.employeesBtnEdit {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}